include:
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      job-stage: "release"
      dist-job-name: "build-fedora"

stages:
  - "build"
  - "release"

variables:
  DEPENDENCIES:
    meson
    git
    gettext
    gtk-doc
    gobject-introspection-devel
    vala
    glib2-devel
    gtk3-devel
    enchant2-devel
    iso-codes-devel
    dbus-daemon
    mutter
  MESON_BUILD_DIR: "_build"

build-fedora:
  stage: "build"
  image: fedora:latest
  before_script:
    - dnf -y update && dnf install -y $DEPENDENCIES
  script:
    - export XDG_RUNTIME_DIR="$(mktemp -p "${CI_PROJECT_DIR:-/tmp}" -d xdg-runtime-XXXXXX)"
    - meson setup "${MESON_BUILD_DIR}"
    - >-
      G_MESSAGES_DEBUG=all dbus-run-session --
      mutter --headless --wayland --no-x11 --virtual-monitor 1024x768 --
      meson test -C "${MESON_BUILD_DIR}" --print-errorlogs --no-stdsplit
    - meson install -C "${MESON_BUILD_DIR}"
    - meson dist --no-tests --include-subprojects -C "${MESON_BUILD_DIR}"
    - cp -r "${MESON_BUILD_DIR}/meson-dist/" "${CI_PROJECT_DIR}/public-dist/"
  artifacts:
    when: always
    paths:
      - ${MESON_BUILD_DIR}/meson-logs/*
      - ${MESON_BUILD_DIR}/meson-dist/gspell-*.tar.xz
      - "public-dist"
